::ng-deep .cdk-overlay-container{
    z-index: 1060;
}
#saveBtn{
    color:white;
    background-color: #424242;
    border-color: #424242;
    border-width: 2px;
}
#closeBtn{
    color:black;
    background-color:white;
    border-color:#424242;
    border-width: 2px;
}
#clearBtn{
    color: black;
}
