::ng-deep .cdk-overlay-container{
    z-index: 1060;
}
.modal-header{
    background-color: #3847B2;
    color: white;
  }
  .modal-dialog {
    max-width: 700px !important;
  }
  .close{
      color: white;
  }
#saveBtn{
    color:white;
    background-color: #3847B2;
    border-color: #3847B2;
    border-width: 2px;
}
#closeBtn{
    color:#3847B2;
    background-color:white;
    border-color:#3847B2;
    border-width: 2px;
}
#clearBtn{
    color: #3847B2;
}
